[submodule "Contracts"]
	path = Contracts
	url = https://github.com/omni001s/Metapersona.git
	branch = contracts
[submodule "Front"]
	path = Front
	url = https://github.com/omni001s/Metapersona.git
	branch = front
[submodule "WebApi"]
	path = WebApi
	url = https://github.com/omni001s/Metapersona.git
	branch = api
